<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Task1</title>
    <style>
        body{
		background-color: #eee; 
	}

	table th , table td{
		text-align: center;
	}

	table tr:nth-child(even){
		background-color: #BEF2F5
	}

	.pagination li:hover{
		cursor: pointer;
	}
    	table tbody tr {
        	display: none;
    	}
   </style>
</head>
<body>
	<div class="container">
		<h2>Select Number Of Rows</h2>
                    	<div class="form-group"> 	
                         	<select class  ="form-control" name="state" id="maxRows">
                             		<option value="5000">Show ALL Rows</option>
                             		<option value="5">5</option>
                             		<option value="10">10</option>
                             		<option value="15">15</option>
                             		<option value="20">20</option>
                             		<option value="50">50</option>
                             		<option value="70">70</option>
                             		<option value="100">100</option>
                            	</select>
                         </div>
    		{{ table }}
    		<div class='pagination-container' >
        		<nav>
            			<center>
          				<ul class="pagination">
    						<li data-page="prev" >
                             				<span> < <span class="sr-only">(current)</span></span>
                            			</li>
						<li data-page="next" id="prev">
                               				<span> > <span class="sr-only">(current)</span></span>
                            			</li>
          				</ul>
        			</center>
			</nav> 			
    		</div>

	</div> 
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script> src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js" </script>
<script> src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" </script>
<script>
getPagination('#table-id');
function getPagination(table) {
  var lastPage = 1;

  $('#maxRows')
    .on('change', function(evt) {
     lastPage = 1;
      $('.pagination')
        .find('li')
        .slice(1, -1)
        .remove();
      var trnum = 0;
      var maxRows = parseInt($(this).val());

      if (maxRows == 5000) {
        $('.pagination').hide();
      } else {
        $('.pagination').show();
      }

      var totalRows = $(table + ' tbody tr').length;
      $(table + ' tr:gt(0)').each(function() {
        trnum++;
        if (trnum > maxRows) {
          $(this).hide();
        }
        if (trnum <= maxRows) {
          $(this).show();
        }
      });
      if (totalRows > maxRows) {
        var pagenum = Math.ceil(totalRows / maxRows);
        for (var i = 1; i <= pagenum; ) {
          $('.pagination #prev')
            .before(
              '<li data-page="' +
                i +
                '">\
								  <span>' +
                i++ +
                '<span class="sr-only">(current)</span></span>\
								</li>'
            )
            .show();
        }
      }
      $('.pagination [data-page="1"]').addClass('active');
      $('.pagination li').on('click', function(evt) {
        evt.stopImmediatePropagation();
        evt.preventDefault();
        var pageNum = $(this).attr('data-page');
        var maxRows = parseInt($('#maxRows').val());

        if (pageNum == 'prev') {
          if (lastPage == 1) {
            return;
          }
          pageNum = --lastPage;
        }
        if (pageNum == 'next') {
          if (lastPage == $('.pagination li').length - 2) {
            return;
          }
          pageNum = ++lastPage;
        }

        lastPage = pageNum;
        var trIndex = 0;
        $('.pagination li').removeClass('active');
        $('.pagination [data-page="' + lastPage + '"]').addClass('active');
	  	limitPagging();
        $(table + ' tr:gt(0)').each(function() {
          trIndex++;
          if (
            trIndex > maxRows * pageNum ||
            trIndex <= maxRows * pageNum - maxRows
          ) {
            $(this).hide();
          } else {
            $(this).show();
          }
        });
      });
	  limitPagging();
    })
    .val(5)
    .change();
}

function limitPagging(){
	if($('.pagination li').length > 7 ){
			if( $('.pagination li.active').attr('data-page') <= 3 ){
			$('.pagination li:gt(5)').hide();
			$('.pagination li:lt(5)').show();
			$('.pagination [data-page="next"]').show();
		}if ($('.pagination li.active').attr('data-page') > 3){
			$('.pagination li:gt(0)').hide();
			$('.pagination [data-page="next"]').show();
			for( let i = ( parseInt($('.pagination li.active').attr('data-page'))  -2 )  ; i <= ( parseInt($('.pagination li.active').attr('data-page'))  + 2 ) ; i++ ){
				$('.pagination [data-page="'+i+'"]').show();

			}

		}
	}
}

$(function() {
  $('table tr:eq(0)').prepend('<th> ID </th>');
  var id = 0;
  $('table tr:gt(0)').each(function() {
    id++;
    $(this).prepend('<td>' + id + '</td>');
  });
});
</script>
</html>
